* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  text-align: center;
  text-rendering: optimizeLegibility;
}

#container {
  margin: 1em;
}

#board {
  background-color: #fff;
  box-shadow: 0px 3px #919191;
}

.square, .freesquare {
  display: block;
  float: left;
  overflow: hidden;
  background-color: #fff;
  color: #313131;
  text-align: center;
  word-wrap: break-word;
  width: 20%;
  height: 7.5em;
  padding: 1em;
  border: 1px solid #d1d1d1;
  transition-property: background-color;
  transition-duration: 1s;
  -moz-transition-property: background-color;
  -moz-transition-duration: 1s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1s;
}

.square:hover {
  cursor: pointer;
}

.selected {
  color: #f1f1f1;
  background-color: #313131;
}

#footer {
  color: #8B3E2F;
  background-color: none;
  opacity: 0.5;
  text-align: center;
  text-shadow: 0px 1px 0px #e1e1e1, 0px -1px 0px #313131;
  font-size: 1.4em;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 1s;
  -moz-transition-property: background-color;
  -moz-transition-duration: 1s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1s;
}

#footer a {
  text-decoration: none;
  color: #8B3E2F;
}

.text {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 1.2em;
}

.small {
  font-size: 0.8em;
}

.medium {
  font-size: 1.0em;
}

.large {
  font-size: 1.2em;
}

.win {
  color: #ffffff !important;
 	background-color: red;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  #container {
    width: 640;
    margin: -7px 0px 0px -7px;
  }

  #header {
    font-size: 3.6em;
    text-align: center;
    padding: 20px 20px 12px 20px;
  }

  #footer {
    padding: 16px 20px 8px 20px;
    font-size: 2.0em;
  }

  .text {
    font-size: 1.2em;
    line-height: 1.2em;
  }
}
